@font-face {
  font-family: 'Bellefair';
  src: url('../fonts/Bellefair-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-display: swap;
}

:root {
  --black: #000000;
  --red: #5b1a00;
  --light: #fcebe1;
  --measure: 60ch;
  --vertical-space: 4rem;
  --gutter: 3rem;
  @media (max-width: 900px) {
    --gutter: 0.75rem;
  }
  --display-font: 'Bellefair', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --t0: 3.815rem;
  --t1: 3.052rem;
  --t2: 2.441rem;
  --t3: 1.953rem;
  --t4: 1.563rem;
  --t5: 1.25rem;
  --t6: 1rem;
  --t7: 0.8rem;
  --t8: 0.64rem;
  --t9: 0.512rem;
  font-size: calc(1rem + 0.5vw);
}

* {
  box-sizing: border-box;
  max-width: var(--measure);
}

html,
body,
article,
div,
header,
nav,
main,
footer,
a {
  text-rendering: optimizelegibility;
  font-feature-settings: 'kern';
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  max-width: none;
}

body {
  background-color: var(--light);
  color: var(--black);
  font-family: var(--font);
  overflow-y: scroll;
}

h1 {
  font-size: var(--t0);
}

h2 {
  font-size: var(--t1);
}

h3 {
  font-size: var(--t2);
}

h4 {
  font-size: var(--t3);
}

h5 {
  font-size: var(--t4);
}

h6 {
  font-size: var(--t5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

p,
ol,
ul,
blockquote {
  line-height: 1.65rem;
  margin: 0;
}

blockquote {
  border-left: 0.25rem solid;
  padding-left: 0.75rem;
}

a {
  color: currentColor;
  transition: all 200ms ease-in-out;
}

a:focus,
button:focus {
  outline: 8px double;
  z-index: 10;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none;
}

small {
  float: right;
  padding-top: 1rem;
  svg {
    font-size: 0.6rem;
  }
}

::selection {
  background-color: var(--red);
  color: var(--light);
}

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 12px;
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--black) var(--light);
}
body::-webkit-scrollbar-track {
  background: var(--light);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 6px;
  border: 3px solid var(--light);
}
